* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #82152D;
}

.mainImg {
    width: 50%;
    max-width: 100%; 
    min-height: 55vh; 
    margin: auto;
    margin-top: 100px;
}
.mainImg img {
    display: block;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 800px)
{
    .mainImg {
        width: 100% !important;
    }
}


@media only screen and (max-width: 460px)
{

    .mainImg {
        width: 100% !important;
        margin-top: 25px !important;
    }
}