* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #82152D;
}

.mainImg {
    max-width: 60%; 
    max-height: 55vh; 
    margin: auto;
    margin-left: -70%;
    margin-top: 100px;
}
.mainImg img {
    display: block;
    width: 100%;
    height: 100%;
}
