*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    min-height: 80vh;
    width: 100%;
    max-width: 100%;
}

.first__span
{
    margin-top: 50px;
    width: 100%;
    height: 20px;
    position: relative;
    
}
.first__span span
{
    font-size: 22px;
    position: absolute;
    left: 50%;
    color:  #82152D;
    transform: translateX(-50%);
    font-weight: 800;
    font-family: 'Young Serif', serif;
}


.contact__main
{
    width: 70%;
    min-height: 65vh;
    margin: 100px auto;
}

.inner__Contact__main
{
    padding: 15px;
    width: 100%;
    min-height: 60vh;
    display: flex;
    gap: 40px;
}
.contact__main span
{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.inner__Contact__main .contact__main__left
{
    width: 100%;
}


a{
    text-decoration: none !important;
}
.inner__Contact__main .contact__main__left form input
{
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: solid #E3E3E3 1px;
    background: #fff;
    border-radius: 5px;
    resize: none;
    padding-left: 20px;
    padding-top: 15px;  
}

.inner__Contact__main .contact__main__left .message
{
    display: inline-block;
    border: solid #E3E3E3 1px;
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20vh;
}

.buttona
{
    width: 100%;
    margin-top: 20px;
    background-color: #82152D !important;
    color: white !important;
}



.contact__main__right__oops
{
    width: 100%;
    min-height: 20vh;
    display: block;
}

.contact__main__right__oops .span1
{
    font-size: 15px;
    text-align: center;

}

.navbar .container .right__content ul li {
    padding-top: 20px !important;
}